
.Editor {
  width: 100%;
  height: 100%;
}

.Canvas {
  width: 100%;
  height: 100%;
  background-color: gray;
  position: relative;
  overflow: hidden;
}

.Shape {
  position: absolute;
}

.Shape > span {
  font-size: 10em;
}

.Editor .scrollHandle {
  position: fixed;
  right: 0;
  width: 40px;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
}
